BERT-E2E-ABSA/
ASTE dataset/

Aspect-Polarity/absa_model/
ABSA-E2E/absa_model/
ABSA-E2E/aspect_model/
ABSA-E2E/absa_bilstm_model/

convert_to_conll_format.py
ABSA-E2E/absa-e2e.py
ABSA-E2E/new_absa_model/




ABSA-E2E/aste_model/
ABSA-E2E/aste_model_final/
ABSA-E2E/results/
reproduce papers/

ASTE-Data-V1-AAAI2020/
ASTE-Data-V2-EMNLP2020/